#main {
    display: flex;
    flex-flow: row;
}



header  {
    background-color: yellow;


}

header > h2 {
    text-align: right;


}

footer {
    background-color: yellow;
    clear: both;
}

nav {
    flex: 1;
    order: 1;
    border-right: solid black 2px;
    padding-right: 50px;
    min-width: 200px;
}

section {

    padding-left: 15px;
    flex: 4;
    order: 2;
}

